{% extends 'base.html.twig' %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/detail.css') }}">
{% endblock %}

{% block body %}
<main>
    <article>
        <h2>{{ data.name }}</h2>

        <div>
            {# <span id="js-info"></span> #}
            {{form_start(formTv)}}
                {% if isInDatabase == null %}
                    {{form_row(formTv.statue[1])}}
                    {{form_row(formTv.statue[2])}}
                {% elseif isInDatabase.statue.statue == "A voir" %}
                    {{form_row(formTv.statue[1], {'attr': {'checked':'checked'}})}}
                    {{form_row(formTv.statue[2])}}
                {% elseif isInDatabase.statue.statue == "Vu" %}
                    {{form_row(formTv.statue[1])}}
                    {{form_row(formTv.statue[2], {'attr': {'checked':'checked'}})}}
                {% endif %}
            {{form_start(formTv)}}
        </div>

        <p>{{ data.overview }}</p>

        <ul id="genre">
            {% for genre in data.genres %}
            <li>{{ genre.name }}</li>
            {% endfor %}
        </ul>
        
        <ul id="country">
            {% for country in data.production_countries %}
            <li>{{ country.name }}</li>
            {% endfor %}
        </ul>

        <div id="infos">
            <span>Date de sortie : {{ data.first_air_date }}</span>
            <span>Nombre de saisons : {{data.number_of_seasons}}</span>
            <span>Nombre d'épisodes : {{data.number_of_episodes}}</span>
        </div>
        
        <img src="https://image.tmdb.org/t/p/w500{{ data.poster_path }}" alt="">
    </article>
</main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/submit.js') }}"></script>
{% endblock %}