{% extends 'base.html.twig' %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/detail.css') }}">
{% endblock %}

{% block body %}
<main>
    <article>
        <h2>{{ data.title }}</h2>

        <div>
            {% if isInDatabase == null %}
            <span class="alert" >Cette serie n'est pas ajouter à votre liste</span>
            {% else %}
            <span class="alert" >Cette serie est dans votre liste</span>    
            {% endif %}
            {{form(formFilm)}}
        </div>
            
            
            <span id="js-info"></span>

            <p>{{ data.overview }}</p>
        <ul id="genre">
            {% for genre in data.genres %}
            <li>{{ genre.name }}</li>
            {% endfor %}
        </ul>
            
        <ul id="country">
            {% for country in data.production_countries %}
            <li>{{ country.name }}</li>
            {% endfor %}
        </ul>
            
        <span id="datetime">{{ data.release_date }}</span>
        <img src="https://image.tmdb.org/t/p/w500{{ data.poster_path }}" alt="">
    </article>
</main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/submit.js') }}"></script>
{% endblock %}